<!DOCTYPE html>
<html>
<head>
  <title>GrumblrApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render "/shared/header" %>
		<%= render "/grumbles/form" %>
		<div class="content">
			<%= yield %>
		</div>
		<%= render "/shared/footer" %>
	</div>
</body>
</html>
